<section class="section exp-sec">
  <div class="container">
    <h2 class="sec-heading center js-anim" data-anim="animate__fadeInDown">{{ site.data.about.experience.heading }}</h2>

    <div class="experience js-anim" data-anim="animate__fadeIn" data-once="true">
      {% for job in site.data.about.experience.items %}
      <div class="exp-row {% if job.highlight %}is-highlight{% endif %}">
        <div class="exp-left">
          <div>
            <div class="exp-company">{{ job.company }}</div>
            <div class="exp-role">{{ job.role }}</div>
          </div>
          <div class="exp-date">{{ job.date }}</div>
        </div>
        <div class="exp-right">          
          <ul class="bullets">
            {% for b in job.bullets %}
              <li>{{ b }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
