<section class="section benefits-sec">
  <div class="container">
    <h2 class="sec-heading center">{{ site.data.home.benefits.heading }}</h2>

    <div class="benefits-grid">
      {% for c in site.data.home.benefits.cards %}
      <div class="benefit">
        <img class="benefit-img" src="{{ c.image | relative_url }}" alt="" loading="lazy">
        <div>
          <h3>{{ c.title }}</h3>
          <ul class="list">
            {% for p in c.points %}
              <li>{{ p }}</li>
            {% endfor %}
          </ul>
          <p>{{ c.text }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
